.container-edit{
    display: flex;
    color: black;
    flex-direction: column;
}

.container-edit form{
    display: flex;
    flex-direction: column;
}

.container-edit form input{
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #cbd5e1;
    margin: 20px;
}

.container-edit form label{
    color: black;
    text-align: left;
    font-weight: bold;
    margin: 20px;
    font-size: 20px;
}


.container-edit form input{
    padding: 1rem;
    color: black;
    font-size: 15px;
    border-radius: 0.5rem;
    border: 1px solid #cbd5e1;
    margin: 20px;
    background: white;
}

.error-message{
    color: red;
}