.usuarios-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.usuarios {
    border: solid 1px rgba(255, 255, 255, 0.2);
    background-color: white;
}

table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: black;
}

th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    color: black;
}

.button-editar a{
    text-decoration: none;
    color: white;
}

h2{
    -webkit-text-stroke: 2px black;
    color: transparent; 
    font-size: 40px;
}

.button:hover{
    background-color: #646cff;
    border: 0px solid #646cff;
}

